@import '../variables';

.section__build-wrapp{
    @include content__width();
    padding: 0 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    .build__overlay-img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .build__overlay-img::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(49deg, rgba(255, 255, 255, 0.9) 40%, transparent 100%);
    }
    .building__wrapp-right{
        max-width: 563px;
        .page__title{
            @include roboto-black();
            font-size: 60px;
            font-weight: var(--bold);
        }
        .build__price-wrapp{
            @include roboto-black();
            font-size: 44px;
            font-weight: var(--bold);
            .build__price{
                @include roboto-black();
                font-size: 60px;
                font-weight: var(--bold);
                background: var(--main-color);
                color: var(--text-white-color);
                display: inline-block;
                padding: 0px 8px;
                border-radius: 10px; 
            }
        }
        .build__wrapper-item{
            @include flex__flex-wrapp();
            max-width: 443px;
            gap: 20px;
            .build__item{
                max-width: 211px;
                width: 100%;
                .build__item-text{
                    @include roboto-black();
                    font-size: 18px;
                    font-weight: var(--bold);
                }
            }
        }
    }
    .form__building{
        max-width: 461px;
        width: 100%;
        min-height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--text-white-color);
        border-radius: 5px;
        .build__form{
            width: 100%;
        }
        .build__form-title{
            @include roboto-black();
            font-size: 20px;
            font-weight: var(--black);
            margin: 38px auto 28px auto;
            max-width: 400px;
        }
        .type__repair-title,
        .number__room-title,
        .type__property-title,
        .square-title,
        .tel__title{
            @include roboto-black();
            font-size: 16px;
            font-weight: var(--bold);
            color: var(--text-brown-color);
            margin: 0 0 10px 0;
        }
        label{
            @include roboto-black();
            font-size: 14px;
            font-weight: var(--regular);
            color: var(--text-brown-color);
        }
        .square,
        .get__telephone{
            input{
                border: 2px solid #CCCCCC;
                border-radius: 2px;
                outline: none;
                @include roboto-black();
                font-size: 16px;
                padding: 13px 5px;
                max-width: 189px;
                width: 100%; 
            }
        }
        .get__telephone{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            .tel__wrapp{
                display: flex;
                align-items: center;
                gap: 15px;
                .build__btn{
                    border: 0;
                    outline: none;
                    @include btn__red-styled();
                    padding: 13px 27px;
                }
            }
        }
        .price{
            background: #F2F2F2;
            @include roboto-black();
            color: var(--second-color);
            padding: 29px 0;
            margin: 9px 0 20px 0;
            .price__wrapper{
                display: flex; 
                gap: 6px;
                max-width: 400px;
                margin: 0 auto; 
            }
            .total__price{
                font-weight: var(--bold);
            }
        }
    }
    .build__select{
        display: flex;
        flex-wrap: wrap;
        max-width: 348px;
        .checkbox__build{
            display: flex;
            input{
                margin: 0;
            }
        }
    }
    .repair__checkbox{
        .checkbox__build{
            flex-basis: 40%; 
        }
    }
    .type__repair,
    .type__property,
    .number__room{
        border-bottom: 1px solid #D6D6D6;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
    }
    .type__repair,
    .type__property,
    .number__room,
    .square,
    .get__telephone{
        max-width: 406px;
        margin: 0 auto 15px auto;
    }
}