:root {
  --roboto-font: "Roboto", sans-serif;
  --main-color: #DA5C5C;
  --second-color: #2D4872;
  --text-black-color: #171616;
  --text-brown-color: #595959;
  --text-white-color: #fff;
  --tab-unactive-color: #E6E6E6;
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}

.section__wework {
  background: #F8F8F8;
  padding: 0 0 50px 0;
}
.section__wework .title__wework {
  font-family: var(--roboto-font);
  color: var(--text-black-color);
  font-size: 42px;
  max-width: 470px;
  margin: 0 auto;
  padding: 50px 0;
}
.section__wework .tabs {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.section__wework .tab__titles {
  display: flex;
  gap: 10px;
  margin: 0 0 30px 0;
  justify-content: center;
}
.section__wework .tab__btn {
  padding: 15px 76px;
  border: none;
  background-color: var(--tab-unactive-color);
  cursor: pointer;
  transition: 0.3s;
  font-family: var(--roboto-font);
  color: var(--text-black-color);
  color: var(--text-brown-color);
  font-size: 16px;
  font-weight: var(--bold);
  border-radius: 4px;
}
.section__wework .tab__btn.active {
  background-color: var(--second-color);
  color: var(--text-white-color);
}
.section__wework .tab__content {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  max-width: 1250px;
}
.section__wework .content__wrapp {
  display: flex;
  gap: 20px;
}
.section__wework .thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section__wework .main__image {
  max-width: 711px;
  max-height: 405px;
  min-height: 405px;
  border-radius: 4px;
  overflow: hidden;
}
.section__wework .main__image img {
  width: 100%;
  height: 100%;
}
.section__wework .thumb {
  width: 80px;
  height: 58px;
  cursor: pointer;
  border-radius: 4px;
}
.section__wework .thumb.active {
  border: 2px solid var(--text-brown-color);
  opacity: 1;
}
.section__wework .description {
  max-width: 270px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
}
.section__wework .description span {
  display: flex;
  align-items: center;
  gap: 7px;
}
.section__wework .description p {
  font-family: var(--roboto-font);
  color: var(--text-black-color);
  font-size: 16px;
  font-weight: var(--bold);
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.section__wework .description p strong {
  color: var(--text-brown-color);
  font-weight: var(--regular);
}
.section__wework .description p:last-child {
  flex-wrap: wrap;
  gap: 2px;
}
.section__wework .area__selector {
  max-width: 666px;
  margin: 30px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.section__wework .area__selector label {
  font-family: var(--roboto-font);
  color: var(--text-black-color);
  font-weight: var(--bold);
  font-size: 14px;
}
.section__wework .wrapper__content {
  border-radius: 4px;
  overflow: hidden;
  background: var(--text-white-color);
  display: flex;
  flex-wrap: wrap;
  max-width: 1098px;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=sectionWeWork.css.map */