@import '../variables';

.advantage{
    padding: 0 0 40px 0;
    &__title{
        @include section__title-style();
    }
    &__wrapp{
        @include content__width();
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }
    &__wrapper{
        max-width: 285px;
    }
    &__img{
        width: 36px;
        height: 36px;
        margin: 0 0 11px 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__title-text{
        @include roboto-black();
        font-size: 18px;
        font-weight: var(--bold);
        margin: 0 0 30px 0;
    }
    &__text{
        @include roboto-black();
        font-size: 14px;
        font-weight: var(--regular);
        color: var(--text-brown-colo);
    }
}