:root{
    --roboto-font: 'Roboto', sans-serif;
    --main-color: #c7a772;
    --second-color: #c7a772;
    --text-black-color: #fff;
    --text-brown-color: #fff;
    --text-white-color: #fff;
    --bg-black-color: #171616;
    --bg-brown-color: #111;
    --bg-white-color: #111;
    --bg-brown2-color: #111;
    --tab-unactive-color: #7a6e5a;
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
}

@mixin content__width {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@mixin flex__flex-wrapp {
    display: flex;
    flex-wrap: wrap;
}

@mixin roboto-black {
    font-family: var(--roboto-font);
    color: var(--text-black-color);
}

@mixin section__title-style{
    font-family: var(--roboto-font);
    color: var(--text-black-color);
    font-size: 42px;
    max-width: 470px;
    margin: 0 auto; 
    padding: 50px 0;
    text-align: center;
    @media (max-width: 991px) {
        font-size: 36px;
        padding: 45px 0;
    }
    @media (max-width: 479px) {
        font-size: 30px;
        padding: 30px 0;
    }
}

@mixin input__styled {
    input{
        font-family: var(--roboto-font);
        font-weight: var(--regular);
        font-size: 14px;
        color: var(--text-brown-color);
        border: 1px solid var(--main-color);
        border-radius: 3px;
        padding: 15px 41px 15px 7px;
        outline: none;
        color: #111;
    }
    input::placeholder{
        font-family: var(--roboto-font);
        font-weight: var(--regular);
        font-size: 14px;
        color: var(--text-brown-color);
        color: #111;
    } 
}

@mixin btn__red-styled{
    font-family: var(--roboto-font);
    font-weight: var(--bold);
    font-size: 18px;
    outline: none;
    border: 0;
    border-radius: 4px;
    background: var(--main-color);
    color: var(--text-white-color); 
    cursor: pointer;
}

@mixin anim-style-start {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease; 
}
@mixin anim-style-end{
    opacity: 1;
    transform: translateY(0);  
}